#CONTENT {
    zoom: 0.85;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

@media (max-width: 900px) {
    #SOLID,
    #CONTENT {
        max-width: calc(100vw / 0.85) !important;
        width: calc(100vw / 0.85) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
