AI_PROVIDER=openai
AI_MODEL=gpt-5-nano
AI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AI_BASE_URL=https://api.openai.com/v1
AUTH_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_HEALTH_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_HEALTH_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
